$MyFont : 'PT Serif',
serif;



body {
    background: #ffffff;
    font-family: $MyFont;

    button {
        border-radius: 3rem;
        --c: #229091;
        /* the color*/

        box-shadow: 0 0 0 .1em inset var(--c);
        --_g: linear-gradient(var(--c) 0 0) no-repeat;
        background:
            var(--_g) calc(var(--_p, 0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p, 0%)) 0%,
            var(--_g) calc(var(--_p, 0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p, 0%)) 100%;
        background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
        outline-offset: .1em;
        transition: background-size .4s, background-position 0s .4s;
    }

    button:hover {
        --_p: 100%;
        transition: background-position .4s, background-size 0s;
    }

    button:active {
        box-shadow: 0 0 9e9q inset #0009;
        background-color: var(--c);
        color: #fff;
    }




    button {
        font-family: $MyFont;
        font-size: 3.5rem;
        cursor: pointer;
        padding: .1em .6em;
        font-weight: bold;
        border: none;
    }

    .block {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        overflow: scroll;

        #affiche {
            display: flex;
            flex-direction: column;
            width: 16rem;
            margin: 2rem;
            padding: 1rem;

            #release_date {
                font-weight: bold;
                font-size: 1.5rem;
            }

            #photoEtPlus {
                display: flex;
                flex-direction: column;

                img {
                    border-radius: 2rem;
                    cursor: pointer;
                    width: 256px;
                    height: 384px;
                }

                #btnPlus {
                    width: fit-content;
                    margin: 1rem;
                    align-self: center;
                }
            }


            .invisible {
                display: none;
            }
        }
    }


}

