body {
  background: #303036;
  font-family: "Rowdies", sans-serif;
}
body button {
  border-radius: 3rem;
  --c: #FC5130;
  /* the color*/
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
body button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
body button:active {
  box-shadow: 0 0 9000000000q inset rgba(0, 0, 0, 0.6);
  background-color: var(--c);
  color: #fff;
}
body button {
  font-family: "Rowdies", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
  margin: 0 1rem;
}
body .barreDeRecherche {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: #30BCED;
  padding: 1.5rem;
  border-radius: 2rem;
  margin-bottom: 2.5rem;
}
body .barreDeRecherche #rechercher {
  font-family: "Rowdies", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
  border-radius: 3rem;
  --c: #FC5130;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
body .barreDeRecherche #barreDeRecherche {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border-radius: 3rem;
  border: solid 0.3rem;
  margin: 0 1rem;
}
body .block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #30BCED;
}
body .block #affiche {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem;
}
body .block #affiche h1 {
  background-color: #FC5130;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  width: 336px;
  align-self: center;
  text-align: center;
}
body .block #affiche .dateEtVote {
  display: flex;
  justify-content: center;
}
body .block #affiche .dateEtVote h2 {
  background-color: #FC5130;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1rem;
  text-align: center;
}
body .block #affiche .dateEtVote #release_date {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #FC5130;
  border-radius: 1rem;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
body .block #affiche #photoEtPlus {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  position: relative;
}
body .block #affiche #photoEtPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  background-color: #FC5130;
  padding: 0.5rem;
}
body .block #affiche #photoEtPlus #btnPlus {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
body .block #affiche .invisible {
  display: none;
}
body .blockDeFilm .categorieRating {
  font-size: 3rem;
  background-color: #30BCED;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  margin: 1.5rem;
  margin-left: 2rem;
}
body .blockDeFilm .latest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  background-color: #FC5130;
}
body .blockDeFilm .latest .enSavoirPlus {
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #30BCED;
  border-radius: 2rem;
  position: relative;
}
body .blockDeFilm .latest .enSavoirPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  padding: 0.5rem;
}
body .blockDeFilm .latest .enSavoirPlus #btnPlusInfo {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
body .blockDeFilm .popularFilm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FC5130;
}
body .blockDeFilm .popularFilm .enSavoirPlus {
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #30BCED;
  border-radius: 2rem;
  position: relative;
}
body .blockDeFilm .popularFilm .enSavoirPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  padding: 0.5rem;
}
body .blockDeFilm .popularFilm .enSavoirPlus #btnPlusInfo {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
body .blockDeFilm .upComing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  background-color: #FC5130;
}
body .blockDeFilm .upComing .enSavoirPlus {
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #30BCED;
  border-radius: 2rem;
  position: relative;
}
body .blockDeFilm .upComing .enSavoirPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  padding: 0.5rem;
}
body .blockDeFilm .upComing .enSavoirPlus #btnPlusInfo {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
body .blockDeSeries .categorieRating {
  font-size: 3rem;
  background-color: #30BCED;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  margin: 1.5rem;
  margin-left: 2rem;
}
body .blockDeSeries .onTheAir {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  background-color: #FC5130;
  border: none;
}
body .blockDeSeries .onTheAir .enSavoirPlus {
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #30BCED;
  border-radius: 2rem;
  position: relative;
}
body .blockDeSeries .onTheAir .enSavoirPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  padding: 0.5rem;
}
body .blockDeSeries .onTheAir .enSavoirPlus #btnPlusInfo {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
body .blockDeSeries .airingToday {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  background-color: #FC5130;
}
body .blockDeSeries .airingToday .enSavoirPlus {
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #30BCED;
  border-radius: 2rem;
  position: relative;
}
body .blockDeSeries .airingToday .enSavoirPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  padding: 0.5rem;
}
body .blockDeSeries .airingToday .enSavoirPlus #btnPlusInfo {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
body .blockDeSeries .popularSeries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  background-color: #FC5130;
}
body .blockDeSeries .popularSeries .enSavoirPlus {
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #30BCED;
  border-radius: 2rem;
  position: relative;
}
body .blockDeSeries .popularSeries .enSavoirPlus img {
  border-radius: 2rem;
  cursor: pointer;
  width: 20rem;
  height: 28rem;
  padding: 0.5rem;
}
body .blockDeSeries .popularSeries .enSavoirPlus #btnPlusInfo {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 3rem;
  right: 2rem;
}/*# sourceMappingURL=style.css.map */